@{
    ViewData["Title"] = "Upload Image";
}

<h1>Upload Image</h1>



@using (Html.BeginForm("Index", "ImageUpload", FormMethod.Post,
  new { enctype = "multipart/form-data" }))//HTML Helper using manages the resoucre being used (open and close connection)
{
    <span>Select File:</span>
    <input type="file" name="postedFile" />
    <input type="submit" value="Upload" />
    <br />

    <span class="text-danger">@ViewBag.Message</span>
}