@{
    ViewData["Title"] = "Nestify";
}


<style>
    body{
        background-image: url('/assets/ian-keefe-OgcJIKRnRC8-unsplash.jpg');
        background-size: cover;
        background-repeat: no-repeat;
}</style>
<div class="card text-center" style="border: #ABDAFC; width: 55%; margin: 0 auto;">
    <div class="card text-center">
        <div class="card-header">
            <h3>About Us</h3>
        </div>
    <div id="index-item-1" class="card-body">
            <h5 class="card-title">Our Story</h5>
        <p class="card-text">
            Nestify was
            founded in 1988, in Moncton, NB, as a family business. We strongly value interpersonal and friendly relationships with each transaction.
            We want to be the best part of finding your forever home.
        </p>
         <a href="https://localhost:7063/Listings" class="btn">View Our Listings</a>
    </div>
    <div id="index-item-2" class="card-body">
        <h5 class="card-title">Our Team</h5>
        <p class="card-text">
                Our dedicated team of experienced agents is the backbone of our family-owned realtor company, 
                bringing a wealth of local expertise and a passion for helping clients achieve their real estate goals. 
                Each agent is committed to providing personalized guidance and unwavering support throughout the entire home 
                buying or selling journey, ensuring that every client receives the highest level of service and care.
        </p>
            <a href="https://localhost:7063/Agents" class="btn">Meet Our Agents</a>
    </div>
    <div id="index-item-3" class="card-body">
        <h5 class="card-title">Our Values</h5>
        <p class="card-text">
                Our family-owned realtor company values integrity, personalized service, 
                and a deep commitment to helping our clients find their dream homes, making every transaction a 
                seamless and trusted experience.
        </p>
            <a href="https://localhost:7063/Identity/Account/Register" class="btn">Join Now!</a>
    </div>
</div>


