
@{
    ViewData["Title"] = "Confirmation";
}

<h1>Confirmation</h1>

<div style ="text-align: center">@ViewBag.Message</div>
<br />

<span style="text-align: center">
    <a class="nav-link text-primary" asp-area="" asp-controller="Home" asp-action="Index">Go Back Home</a>
</span>

