@model mvcNestify.Models.Image

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Image</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <form id="radioForm">
                <label>
                    <input type="radio" name="radioGroup" value="AgentImage" id="AgentImage" checked>
                    Agent Image
                </label>

                <label>
                    <input type="radio" name="radioGroup" value="ListingImage" id="ListingImage">
                    Listing Image
                </label>
            </form>

            <div id="AgentList" class="form-group" style="display: block;">
                <label asp-for="AgentId" class="control-label">Agents</label>
                <select asp-for="AgentId" asp-items="ViewBag.Agents">
                    <option selected disabled>-- SELECT AN AGENT --</option>
                </select>
                <span asp-validation-for="AgentId" class="text-danger"></span>
            </div>
            <div id="ListingList" class="form-group" style="display: none;">
                <label asp-for="ListingId" class="control-label">Listings</label>
                <select asp-for="ListingId" asp-items="ViewBag.Listings">
                    <option selected disabled>-- SELECT A LISTING --</option>
                </select>
                <span asp-validation-for="ListingId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PostedFile" class="control-label">Select file: </label>
                <input type="file" asp-for="PostedFile" name="PostedFile" />
                <span asp-validation-for="PostedFile" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="FileName" class="control-label"></label>
                <input asp-for="FileName" class="form-control" />
                <span asp-validation-for="FileName" class="text-danger"></span>
            </div>
            @*
            <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            *@

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AltText" class="control-label"></label>
                <input asp-for="AltText" class="form-control" />
                <span asp-validation-for="AltText" class="text-danger"></span>
            </div>
            @*
            <div class="form-group">
            <label asp-for="UploadTime" class="control-label"></label>
            <input asp-for="UploadTime" class="form-control" />
            <span asp-validation-for="UploadTime" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
            <label class="form-check-label">
            <input class="form-check-input" asp-for="Validated" /> @Html.DisplayNameFor(model => model.Validated)
            </label>
            </div>
            <div class="form-group">
            <label asp-for="StaffID" class="control-label"></label>
            <input asp-for="StaffID" class="form-control" />
            <span asp-validation-for="StaffID" class="text-danger"></span>
            </div>
            *@
            <div class="form-group">
                <input type="submit" value="Upload" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @* Disabled checkbox when the other is selected *@
    <script>
        const agentButton = document.getElementById('AgentImage');
        const listingButton = document.getElementById('ListingImage');


        agentButton.addEventListener('change', function () {
            document.getElementById('ListingList').style.display = 'none';
            document.getElementById('AgentList').style.display = 'block';
        });
        listingButton.addEventListener('change', function () {
            document.getElementById('ListingList').style.display = 'block';
            document.getElementById('AgentList').style.display = 'none';
        });
    </script>
}
