@model mvcNestify.Models.Image

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Image</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create"  enctype="multipart/form-data" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label>
                    <input type="radio" name="radioGroup" value="AgentImage" id="UploadImage">
                    Upload Image
                </label>

                <label>
                    <input type="radio" name="radioGroup" value="ListingImage" id="ShowAgentListing">
                    Add Image To Existing Agent/Listing
                </label>
            </div>
            
            <div id="UploadSection" style="display: none;">
                <hr />
                <label>
                    @Html.CheckBoxFor(m => m.IsAgentImage, new { id = "image"})
                    Upload Agent Image
                </label>

                <label>
                    @Html.CheckBoxFor(m => m.IsListingImage, new { id = "listing"})
                    Upload Listing Image
                </label>
            </div>
            <div id="AgentListingSection" style="display: none;">
                <hr />
                <label>
                    <input type="radio" name="radioGroup" value="AgentImage" id="AgentImage" checked>
                    Agent Image
                </label>

                <label>
                    <input type="radio" name="radioGroup" value="ListingImage" id="ListingImage">
                    Listing Image
                </label>
            </div>

            <div id="AgentList" class="form-group" style="display: none;">
                <label asp-for="AgentId" class="control-label">Agents</label>
                <select asp-for="AgentId" asp-items="ViewBag.Agents">
                    <option selected disabled>-- SELECT AN AGENT --</option>
                </select>
                <span asp-validation-for="AgentId" class="text-danger"></span>
            </div>
            <div id="ListingList" class="form-group" style="display: none;">
                <label asp-for="ListingId" class="control-label">Listings</label>
                <select asp-for="ListingId" asp-items="ViewBag.Listings">
                    <option selected disabled>-- SELECT A LISTING --</option>
                </select>
                <span asp-validation-for="ListingId" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <label asp-for="PostedFile" class="control-label">Select file: </label>
                <input type="file" asp-for="PostedFile" name="PostedFile" />
                <span asp-validation-for="PostedFile" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="FileName" class="control-label"></label>
                <input asp-for="FileName" class="form-control" />
                <span asp-validation-for="FileName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AltText" class="control-label"></label>
                <input asp-for="AltText" class="form-control" />
                <span asp-validation-for="AltText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @* Disabled checkbox when the other is selected *@
    <script defer>
        const uploadButton = document.getElementById('UploadImage');
        const showAgentsListingsButton = document.getElementById('ShowAgentListing');

        uploadButton.addEventListener('change', function () {
            document.getElementById('UploadSection').style.display = 'block';
            document.getElementById('AgentListingSection').style.display = 'none';
            document.getElementById('ListingList').style.display = 'none';
            document.getElementById('AgentList').style.display = 'none';
        });
        showAgentsListingsButton.addEventListener('change', function () {
            document.getElementById('UploadSection').style.display = 'none';
            document.getElementById('AgentListingSection').style.display = 'block';
        });

        const agentButton = document.getElementById('AgentImage');
        const listingButton = document.getElementById('ListingImage');


        agentButton.addEventListener('change', function () {
            document.getElementById('ListingList').style.display = 'none';
            document.getElementById('AgentList').style.display = 'block';
        });
        listingButton.addEventListener('change', function () {
            document.getElementById('ListingList').style.display = 'block';
            document.getElementById('AgentList').style.display = 'none';
        });

        let c1 = document.getElementById('agent');
        let c2 = document.getElementById('listing');
        c1.addEventListener('change', function () {
            console.log('agent selected')
            if (this.checked) {
                c2.disabled = true;
            } else {
                c2.disabled = false;
            }
        });

        c2.addEventListener('change', function () {
            if (this.checked) {
                c1.disabled = true;
            } else {
                c1.disabled = false;
            }
        });
    </script>
}
