@model mvcNestify.Models.Image

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Image</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ImageID" />
            <input type="hidden" asp-for="IsVisible" />
            <input type="hidden" asp-for="IsListingImage" />
            <input type="hidden" asp-for="IsAgentImage" />
            <input type="hidden" asp-for="FilePath" />

            @* <div class="form-group">
                <label asp-for="FilePath" class="control-label"></label>
                <input asp-for="FilePath" class="form-control" />
                <span asp-validation-for="FilePath" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AltText" class="control-label"></label>
                <input asp-for="AltText" class="form-control" />
                <span asp-validation-for="AltText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadDateTime" class="control-label"></label>
                <input asp-for="UploadDateTime" class="form-control" />
                <span asp-validation-for="UploadDateTime" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Validated" /> @Html.DisplayNameFor(model => model.Validated)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="StaffID" class="control-label"></label>
                <input asp-for="StaffID" class="form-control" />
                <span asp-validation-for="StaffID" class="text-danger"></span>
            </div>
            @if(Model.ListingId != null)
            {
                <div class="form-group">
                    <label asp-for="ListingId" class="control-label"></label>
                    <input readonly asp-for="ListingId" class="form-control" />
                    <span asp-validation-for="ListingId" class="text-danger"></span>
                </div>
            }
            @if (Model.AgentId != null)
            {
                <div class="form-group">
                    <label asp-for="AgentId" class="control-label"></label>
                    <input readonly asp-for="AgentId" class="form-control" />
                    <span asp-validation-for="AgentId" class="text-danger"></span>
                </div>
            }

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
